

<div id='container'>
  <!-- Your html here -->
  <input type='text' ng-model='search' placeholder='filter' />
<div class="links">
  <div class="link"
      ng-repeat="link in data.links | filter:search | orderBy:'created_at'">
    <img src="assets/redirect_icon.png">
    <div class="info">
      <div class="visits">
        <span class="count">{{ link.visits }}</span>Visits
      </div>
      <div class="title">{{ link.title }}</div>
      <div class="original">{{ link.url }}</div>
      <a href="{{ link.base_url }}/{{ link.code }}">{{ link.base_url }}/{{ link.code }}</a>
    </div>
  </div>
  </div>

 
</div>

